body
{

  margin: 0;
  padding: 0;
  padding-top: 0;
}

section h1
{
  display: block;
  margin: 1000;
  padding: 0;
  display: flex;
  text-align: left;
  font-size:4em;
  text-transform: uppercase;
}

section p
 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 25px;
  position: relative;
  width: 800px;
  text-transform: uppercase;
}

h1
{
  display: block;
  padding: 0;
  display: flex;
  text-align: center;
  font-size: 6em;
  text-transform: uppercase;
}

p
{
  font-size: 25px;
  position: relative;
  text-transform: uppercase;
}

.container
{
  width: 80%;
  margin: 0 auto;
}

nav
{
  float: right;
}

nav ul
{
  margin: 0;
  padding: 0;
  list- style: none;
}

nav li
{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
}

nav a
{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover
{
  color: #000;
}
